header {
    height: 65px;
    width: 100%;
    color: white;
    background-color: #282a2f;
    margin-bottom: 30px;
}

.head-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.head-title > h1 {
    margin: 0;
    font-size: 25px;
    font-family: ui-sans-serif;
    letter-spacing: 1px;
}

.head-search {
    display: flex;
}

.head-search > input {
    padding: 5px 5px;
    margin-left: 5px;
    color: white;
    background-color: #282a2f;
    border: none;
    font-family: ui-sans-serif;
    letter-spacing: 0.5px;
}

input::placeholder {
    color: white;
}