.banner {
    height: 100px;
    width: 100%;
    color: white;
    background-color: #282a2f;
}

.head-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head-title {

}

.head-search {

}