ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
li {
    height: 300px;
    width: 225px;
    padding: 20px 10px;
    margin: 20px 20px;
    list-style: none;
    color: white;
    background-color: #282a2f;
    border-left: 6px solid #36363e;
    border-radius: 8px;
}